## Creating initial dataset from 2 datasets
The first dataset was crawled by my machine, the second was crawled by using [Amazon AWS](https://aws.amazon.com/) (EC2)

In [217]:
import pandas as pd

In [218]:
df = pd.read_csv('dataset/temporary_instagram')
aws = pd.read_csv('dataset/AWS-instagram-crawled')

In [219]:
df = df[:8535]
aws = aws[:16741]

In [221]:
aws.shape

(16741, 3)

In [222]:
df.shape

(8535, 3)

In [223]:
aws = aws.loc[aws['biography'] != 'none']
df = df.loc[df['biography'] != 'none']

In [224]:
def convert_to_string_aws(value):
    value = str(value)
    return value.encode().decode('unicode_escape').encode('ascii','ignore').decode("utf-8")

In [225]:
aws['biography'] = aws.biography.apply(convert_to_string_aws)

In [226]:
def convert_to_string(value):
    value = str(value)
    return value.encode('ascii','ignore').decode("utf-8")

In [227]:
df['biography'] = df.biography.apply(convert_to_string)

In [228]:
frames = [df, aws]
df = pd.concat(frames)

In [229]:
df.shape

(21401, 3)

In [230]:
keys = ['pk']
df.drop_duplicates(subset=keys, keep='first', inplace=True)

In [231]:
def strip_newlines(value):
    return value.replace('\n', ' ').replace('\r', '')

In [232]:
df['biography'] = df.biography.apply(strip_newlines)

In [233]:
df.shape

(20950, 3)

In [235]:
df.head()

,pk,username,biography
0,295336107,mickey_lang14,UIC| WVBC SC:mickey714
1,229482521,mila042199,Love all 7 of my baby daddys and 23 kids
2,15840274,allyyson.kim,I bite if you get too close UIC || phi sig
3,182123828,_babydarius,Nugget connoisseur Long Islands are my best fr...
4,1140813478,miliccaal,UIC 22 Phi Sigma Sigma

In [234]:
df.to_csv('dataset/instagram_bio_dataset', index=False)